name: Deploy Flask App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      

        
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        script: |
          
          # Navigate to app directory
          cd /home/ubuntu/backend_dusan
          
          # Pull latest changes from GitHub
          git pull origin main
          make run
          
          # Install dependencies (if any changes)
          source venv/bin/activate
          #flask run --port 8000
          #curl ${{ secrets.EC2_HOST }}:8000
          #flask run --host 0.0.0.0 --port 8000
          pip install gunicorn
          /home/ubuntu/backend_dusan/venv/bin/pip install -r requirements.txt
          
          # Restart the application service (e.g., Gunicorn via systemd)
          sudo systemctl restart backend_dusan.service
          
          # Check service status (optional)
          sudo systemctl status backend_dusan.service
